<div class="container-narrow">
  <div class="row-fluid marketing">
    <div class="text-center">
      <%= image_tag "http://placehold.it/255x56&text=Logo", :style => "margin: 15px 0" %>
      <h1>Obrigado!</h1>
      <p>Entraremos em contato em breve.</p>
      <p><%= link_to "Voltar", :back %></p>
    </div>
  </div>
</div>

